<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>My Project</title>
    <meta name="description" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    
  </head>
  <body >    
    <div>
      <my-app>Loading ... </my-app>
    </div>
    <script src="bundle.js" ></script>
  </body>
</html>