<div id="my-app-blob" class="container" >

    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
            <ul class="list-inline">
                <li><a href="#" onclick="blobsHome.loadHome()">Home</a><li>
                <li><a href="#" onclick="blobsList.loadBlobList()">Blobs</a></li>
                <li>Contact</li>
                <li>Career</li>
                <li>About Us</li>               
            </ul>
        </div>
    <div class="col-md-2"></div>
    </div>

    <div class="row">
    <div class="col-md-2" ></div>
    <div class="col-md-2" ></div>
    <div class="col-md-6">
        <p class="message"></p>
    </div>
    
    </div>

    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" >
        
        <div class="main-container-blobs">
            <!-- main content for all menu header and others -->
        </div>            
        
    </div>
    <div class="col-md-2"></div>
    </div>
</div> 